<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--/*/ <th:block th:include="../fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Homepagina</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">Alle Producten</a></li>
                        <li><a href="#" th:href="@{/cart}">Winkelwagen</a></li>
                        <li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Log in</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}">Log uit</a></li>
                        <li sec:authorize="isAuthenticated()">Ingelogd als <span sec:authentication="name"></span></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>