<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!--/*/ <th:block th:include="../fragments/headerinc :: head"></th:block> /*/-->

    <title>Gifkikker Webshop</title>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="../fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <img src="../static/images/topicus.png" width="1000"
             th:src="@{images/topicus.png}" />
        <h1>Hoi Wereld</h1>
        Welkom in de gifkikker webshop.
    </div>
</div>
</body>
</html>